<section>
    <div class="list">
        <div class="details">
            <p><i class="fas fa-user-shield"></i> <span id="adminLevel">{{ .User.Admin }}</span></p>
        </div>

        <div class="details">
            <p><i class="fas fa-calendar"></i> <span class="created">{{ .User.Created }}</span></p>
        </div>
        
        <details>
            <summary>
                <p><i class="fas fa-envelope"></i> <span>{{ .User.Email }}</span></p>
                <i class="far fa-edit"></i>
            </summary>
            <div class="body">
                <form action="/users/update/email" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="{{ .User.Email }}" required>
                    </div>
                    <div class="button-group">
                        <span></span>
                        <button class="btn btn-primary">Update Email</button>
                    </div>
                </form>
            </div>
        </details>
        
        <details>
            <summary>
                <p><i class="fas fa-user"></i> <span>{{ .User.Username }}</span></p>
                <i class="far fa-edit"></i>
            </summary>
            <div class="body">
                <form action="/users/update/username" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" value="{{ .User.Username }}" required>
                    </div>
                    <div class="button-group">
                        <span></span>
                        <button class="btn btn-primary">Update Username</button>
                    </div>
                </form>
            </div>
        </details>


        <details>
            <summary>
                <p><i class="fas fa-key"></i> <span>*************</span></p>
                <i class="far fa-edit"></i>
            </summary>
            <div class="body">
                <form action="/users/update/password" method="POST">
                    <div class="form-group">
                        <label for="current_password">Current Password</label>
                        <input type="password" name="current_password" id="current_password" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input type="password" name="new_password" id="new_password" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password_confirm">Confirm Password</label>
                        <input type="password" name="new_password_confirm" id="new_password_confirm" required>
                    </div>
                    <div class="button-group">
                        <span></span>
                        <button class="btn btn-primary">Update Password</button>
                    </div>
                </form>
            </div>
        </details>
    </div>
</section>