<section>
    <form class="upload-form">
        <div class="dropzone" id="dropzone">
            <i class="fas fa-file-upload"></i>
        </div>
        <input type="file" id="file-input" accept="image/*" multiple>
    </form>
</section>
<section>
    <div class="gallery">
        {{ range $index, $image := .Images }}
            <img 
            src="{{ $image.URL }}" 
            class="gallery--item"
            data-id="{{ $image.ID }}"
            data-created="{{ $image.Date }}"
            data-post_id="{{ $image.PostID }}"
            data-thumbnail="{{ $image.Thumbnail }}">
        {{ end }}
    </div>
</section>