<section>
    {{ if .Error }}
        <div class="alert alert-danger" role="alert">
            <p>{{ .Error }}</p>
        </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section class="site-info-s1">
    <form>
        <div class="form-group">
            <input type="hidden" value="{{ .User.Admin }}" id="admin_level" readonly>

            <select name="server" id="server">
                <option value="isak_tech">Isak Tech</option>
                <option value="portal">Portal</option>
                <option value="paste">Paste</option>
            </select>

            {{ if (ge .User.Admin 3) }}
                <button type="button" onclick="startSite()">Start Process</button>
            {{ else }}
                <button type="button" title="Requires level 3 admin privileges" disabled>Start Process</button>
            {{ end }}
        </div>
    </form>
</section>

<section id="processes"></section>