<nav id="sidenav" class="open">
  <a class="logo" href="/">
    <img src="/public/images/0f8b5463-35b5-4dc4-89b8-ec7514557d1f_200x200.png" alt="">
  </a>
  
  {{ if .User }}
    <div>
      <h4>Isak Tech</h4>
      <a class="nav-link" href="/site/main"><span>Home</span></a>
      <a class="nav-link" href="/site/main/post/add-new"><span>New Post</span></a>
      <a class="nav-link" href="/site/main/site-information"><span>Site Information</span></a>
      <a class="nav-link" href="#"><span>Analytics</span></a>
    </div>

    <div>
      <h4>Portal</h4>
      <a class="nav-link" href="/site/portal"><span>Home</span></a>
      <a class="nav-link" href="/site/portal/page/add-page"><span>New Page</span></a>
      <a class="nav-link" href="/site/portal/site-information"><span>Site Information</span></a>
    </div>

    <div>
      <h4>Paste</h4>
      <a class="nav-link" href="/site/paste"><span>Home</span></a>
      <a class="nav-link" href="/site/paste/site-information"><span>Site Information</span></a>
      <a class="nav-link" href="#"><span>API</span></a>
    </div>
    {{ end }}

    {{ if .User }}
      <div>
        <h4>Account</h4>
          <a class="nav-link" href="/users/account"><span>Account</span></a>
          <a class="nav-link" href="/users/sign-out"><span>Sign Out</span> <i class="fas fa-sign-out-alt"></i></a>
      </div>
    {{ else }}
      <div>
        <h4>Account</h4>
        <a class="nav-link" href="/sign-up"><span>Sign Up</span></a>
        <a class="nav-link" href="/sign-in"><span>Sign In</span></a>
      </div>
    {{ end }}
</nav>

<div onclick="toggleSidenav()" id="navbar-btn" class="open fas fa-bars"></div>