<nav id="sidenav" class="open">
  <a class="logo" href="/">
    <img src="/public/images/907fdb70-2867-49d1-9ad5-80e689575b1a_200x200.png" alt="">
  </a>
  
  {{ if .User }}
    <div>
      <h4>Isak Tech</h4>
      <a class="nav-link" href="/site/main"><button>Posts</button></a>
      <a class="nav-link" href="/site/main/post/add-new"><button>New Post</button></a>
      <!-- <a class="nav-link" href="/site/main/site-information"><button>Site Information</button></a> -->
      <a class="nav-link" href="/site/main/analytics"><button>Analytics</button></a>
    </div>

    <div>
      <h4>Portal</h4>
      <a class="nav-link" href="/site/portal"><button>Pages</button></a>
      <a class="nav-link" href="/site/portal/page/add-page"><button>New Page</button></a>
      <!-- <a class="nav-link" href="/site/portal/site-information"><button>Site Information</button></a> -->
    </div>

    <div>
      <h4>Paste</h4>
      <a class="nav-link" href="/site/paste"><button>Pastes</button></a>
      <!-- <a class="nav-link" href="/site/paste/site-information"><button>Site Information</button></a> -->
      <a class="nav-link" href="/site/paste/api"><button>API</button></a>
    </div>
    {{ end }}

    {{ if .User }}
      <div>
        <h4>{{ .User.Username }}</h4>
          <a class="nav-link" href="/users/account"><button>Account</button></a>
          <a class="nav-link" href="/users/management"><button>Management</button></a>
          <a class="nav-link" href="/users/sign-out"><button>Sign Out</button></a>
      </div>
    {{ else }}
      <div>
        <h4>Account</h4>
        <a class="nav-link" href="/sign-up"><button>Sign Up</button></a>
        <a class="nav-link" href="/sign-in"><button>Sign In</button></a>
      </div>
    {{ end }}
</nav>

<div onclick="toggleSidenav()" id="navbar-btn" class="open fas fa-chevron-right"></div>