<nav id="sidenav" class="open">
  <a class="logo" href="/">
    <img src="/public/images/907fdb70-2867-49d1-9ad5-80e689575b1a_200x200.png" alt="">
  </a>
  
  {{ if .User }}
  <div>
    <h4>Account Settings</h4>
      <a class="nav-link" href="/users/account">Account Information</a>
      <a class="nav-link" href="/users/management">Server Management</a>
      <a class="nav-link" href="/users/analytics">Requests Analytics</a>
      {{ if (ge .User.Admin 3)}}
        <a class="nav-link" href="/users/user_accounts">User Accounts</a>
      {{ end }}
  </div>
  {{ else }}
    <div>
      <h4>Account Access</h4>
      <a class="nav-link" href="/sign-up">Sign Up</a>
      <a class="nav-link" href="/sign-in">Sign In</a>
    </div>
  {{ end }}

  {{ if .User }}
    <div>
      <h4>Isak Tech</h4>
      <a class="nav-link" href="/site/main">Browse Posts</a>
      <a class="nav-link" href="/site/main/post/add-new">Publish New Post</a>
      <!-- <a class="nav-link" href="/site/main/site-information">Site Information</a> -->
    </div>

    <div>
      <h4>Portal</h4>
      <a class="nav-link" href="/site/portal">Edit Pages</a>
      <a class="nav-link" href="/site/portal/page/add-page">Add New Page</a>
      <!-- <a class="nav-link" href="/site/portal/site-information">Site Information</a> -->
    </div>

    <div>
      <h4>Paste</h4>
      <a class="nav-link" href="/site/paste">Pastes</a>
      <!-- <a class="nav-link" href="/site/paste/site-information">Site Information</a> -->
      <a class="nav-link" href="/site/paste/api">API Instructions</a>
    </div>
    {{ end }}

    {{ if .User }}
      <div>
        <a class="nav-link" href="/users/sign-out">Sign Out</a>
      </div>
    {{ end }}
</nav>

<div id="navbar-btn" class="open fas fa-chevron-right"></div>