<section>
    {{ if .Error }}
    <div class="alert alert-danger" role="alert">
        <p>{{ .Error }}</p>
    </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section class="gallery">
    {{ range $index, $page := .Pages }}
        <div class="card">
            <img src="{{ $page.ImageURL }}" data-id="{{ $page.ID }}">
            <p>{{ $page.Description }}</p>
            <p>{{ FormatDate $page.Created }}</p>
            <div class="card-actions">
                <a href="javascript:void()" onclick="deletePage(this)" data-id="{{ $page.ID }}">Delete Page</a>
                <a href="/site/portal/page/{{ $page.ID }}">Edit Page</a>
            </div>
        </div>
    {{ end }}
</section>
