<section class="gallery">
    {{ range $index, $page := .Pages }}
        <img src="https://portal.isak-tech.tk{{ $page.ImageURL }}" data-id="{{ $page.ID }}" onclick="navigate(this)">
    {{ end }}
</section>

<section>
    {{ if .Error }}
    <div class="alert alert-danger" role="alert">
        <p>{{ .Error }}</p>
    </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>


<script>
    const navigate = (element) => 
    window.location.pathname = '/site/portal/page/' + 
    parseInt(element.getAttribute('data-id'));
</script>