<section>
    {{ if .Error }}
    <div class="alert alert-danger" role="alert">
        <p>{{ .Error }}</p>
    </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section class="table-container">
        <div class="table">
            <div class="table-head">
                <div class="table-row" id="t-head">
                    <span>Thumbnail</span>
                    <span>ID</span>
                    <span>Description</span>
                    <span>Created</span>
                </div>
            </div>
            <div class="table-body">
                {{ range $index, $page := .Pages }}
                <div class="table-row">

                    <div class="actions">
                        <a href="/site/portal/page/{{ $page.ID }}"><i class="fas fa-cog"></i></a>
                        <a href="javascript:void()" onclick="deletePage(this)" data-id="{{ $page.ID }}"><i class="fas fa-trash"></i></a>
                    </div>

                    <span class="thumbnail span-image"><img src="{{ $page.Thumbnail }}" data-id="{{ $page.ID }}"></span>
                    <span class="id">{{ $page.ID }}</span>
                    <span class="description">{{ $page.Description }}</span>
                    <span class="created">{{ $page.Created }}</span>
                </div>
                {{ end }}
            </div>
        </div>
</section>
