<section>
    {{ if .Error }}
    <div class="alert alert-danger" role="alert">
        <p>{{ .Error }}</p>
    </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section>
    <form action="/site/portal/page/{{ .Page.ID }}/update" method="POST">
        <div class="form-group focused">
            <label for="ID">ID</label>
            <input type="text" id="ID" name="ID" value="{{ .Page.ID }}" disabled>
        </div>
        <div class="form-group">
            <label for="Created">Created</label>
            <input type="text" id="Created" name="Created" value="{{ FormatDate .Page.Created }}" disabled>
        </div>
        <div class="form-group">
            <label for="Href">Href</label>
            <input type="text" id="Href" name="Href" value="{{ .Page.Href }}">
        </div>
        <div class="form-group">
            <label for="Thumbnail">Thumbnail</label>
            <input type="text" id="Thumbnail" name="Thumbnail" value="{{ .Page.Thumbnail }}">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" id="Description" name="Description" value="{{ .Page.Description }}">
        </div>
        <div class="hidden">
            <input name="ID" value="{{ .Page.ID }}">
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-danger" onclick="deletePage(this)" data-id="{{ .Page.ID }}">Delete Page</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>