<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration - {{.Title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>

    <div>
        {{template "partials/navbar" .}}
    </div>

    <main>
        <div class="content">
            <section>
                {{template "partials/breadcrumbs" .}}
            </section>

            {{ embed }}
        </div>
    </main>

    <script src="/public/js/http.js"></script>
    <script src="/public/js/errorHandler.js"></script>
    <script src="/public/js/submit.js"></script>
    <script src="/public/js/accordion.js"></script>
    <script src="/public/js/sidenav.js"></script>
</body>

</html>