<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration - {{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/alerts.css">
    <link rel="stylesheet" href="/public/css/forms.css">
    <link rel="stylesheet" href="/public/css/page_header.css">
    <link rel="stylesheet" href="/public/css/mediaquery.css">
    <link rel="stylesheet" href="/public/css/table.css">
</head>

<body onload="main()">

    <div>
        {{template "partials/navbar" .}}
    </div>

    <main>
        <div class="content open" id="content-main">
            <section>
                {{template "partials/breadcrumbs" .}}
            </section>

            <section class="body">
                {{ embed }}
            </section>
        </div>
    </main> 

    <script src="/public/js/libs/moment.js"></script>
    <script src="/public/js/http.js"></script>
    <script src="/public/js/submit.js"></script>
    <script src="/public/js/render.js"></script>

    <script src="/public/js/init.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>