<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration - {{.Title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <nav>

        <a href="/">Home</a>
        {{ if .User }}
            <a href="/account">Account</a>
            <a href="/sign-out">Sign Out</a>
        {{ else }}
            <a href="/sign-up">Sign Up</a>
            <a href="/sign-in">Sign In</a>
        {{ end }}
    </nav>

    <main>
        {{ embed }}
    </main>

    <script src="/public/js/script.js"></script>
</body>
</html>