<section>
    {{ if .Error }}
    <div class="alert alert-danger" role="alert">
        <p>{{ .Error }}</p>
    </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section>
    <h3>{{ .Post.Title }}</h3>
    <form action="/site/main/post/{{ .Post.ID }}/add-image" method="POST">
        <div>
          <label for="image">Image URL</label>
          <input type="text" id="image" name="URL">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

<section class="gallery">
    {{ range $index, $image := .Post.Images }}
        <img src="{{ $image.URL }}" onclick="deleteImageSubmit(this)" data-id="{{ $image.ID }}" data-postid="{{ $image.PostID }}">
    {{ end }}
</section>
