<section>
    {{ if .Error }}
    <div class="alert alert-danger" role="alert">
        <p>{{ .Error }}</p>
    </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section>
    <h4>Posts</h4>

    <div class="accordion">
        {{ range $index, $post := .Posts }}
          <div class="accordion-item" id="accordion-{{ $index }}">
            <a href="javascript:void(0)" onclick="openAccordion(this)" data-ref="{{ $index }}">{{ $post.Title }}</a>
            <div class="accordion-body">
              <p>Unique ID: {{ $post.ID }}</p>
              <p>Title: {{ $post.Title}} </p>
              <p>Created: {{ FormatDate $post.Date }}</p>
              <p>Category: {{ $post.Category }}</p>
              <p>Image URL: {{ $post.ImageURL }}</p>
              <p>Total Images: {{ $post.TotalImages }}</p>
              <p>Archived: {{ $post.Archived }}</p>

              <a href="/site/main/post/{{ $post.ID }}/add-image">Edit Images</a>
              <a href="/site/main/post/{{ $post.ID }}">Edit Post</a>
            </div>
          </div>
        {{ end }}
    </div>

</section>