<section>
    {{ if .Error }}
        <div class="alert alert-danger" role="alert">
            <p>{{ .Error }}</p>
        </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section>
    <h4>Account Information</h4>

    <ul>
        <li>{{.User.ID}}</li>
        <li>{{.User.Email}}</li>
        <li>{{.User.Username}}</li>
        <li>{{.User.Created}}</li>
        <li>*************</li>
    </ul>
</section>

<section>
    <h4>Quick Navigation</h4>

    <div class="grid">
        <div class="grid-item">
            <img src="https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="">
            <h5 class="card-title">Main</h5>
            <div>
                <a target="_blank" href="https://isak-tech.tk">View Site</a>
                <a href="/site/main">Settings</a>
            </div>
        </div>
        <div class="grid-item">
            <img src="https://images.pexels.com/photos/5082579/pexels-photo-5082579.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="">
            <h5 class="card-title">Portal</h5>
            <div>
                <a target="_blank" href="https://portal.isak-tech.tk">View Site</a>
                <a href="/site/portal">Settings</a>
            </div>
        </div>
       <div class="grid-item">
            <img src="https://images.pexels.com/photos/3584926/pexels-photo-3584926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="">
            <h5 class="card-title">Paste</h5>
            <div>
                <a target="_blank" href="https://paste.isak-tech.tk">View Site</a>
                <a href="/site/paste">Settings</a>
            </div>
       </div>
    </div>
</section>