<section>
    {{ if .Error }}
        <div class="alert alert-danger" role="alert">
            <p>{{ .Error }}</p>
        </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section>
    <div class="list">
        <div>
            <p><i class="fas fa-id-card"></i> {{.User.ID}}</p>
            <i class="far fa-edit"></i>
        </div>
        <div>
            <p><i class="fas fa-envelope"></i> {{.User.Email}}</p>
            <i class="far fa-edit"></i>
        </div>
        <div>
            <p><i class="fas fa-user"></i> {{.User.Username}}</p>
            <i class="far fa-edit"></i>
        </div>
        <div>
            <p><i class="fas fa-calendar"></i> {{ FormatDate .User.Created}}</p>
            <i class="far fa-edit"></i>
        </div>
        <div>
            <p><i class="fas fa-key"></i> *************</p>
            <i class="far fa-edit"></i>
        </div>
    </div>
</section>