<section>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, temporibus modi est incidunt excepturi quia? Accusamus repellendus sint commodi maiores assumenda deserunt, vero atque nisi quidem excepturi odit ipsa magni fugiat, porro quibusdam, nulla repellat quam impedit aliquid est tempore consequatur vel eius quia. Iure!</p>
</section>
<section>
{{ if .Error }}
    <div class="alert alert-danger" role="alert">
        <p>{{ .Error }}</p>
    </div>
{{ end }}

{{ if .Success }}
    <div class="alert alert-success" role="alert">
        <p>{{ .Success }}</p>
    </div>
{{ end }}
</section>