<section>
    {{ if .Error }}
        <div class="alert alert-danger" role="alert">
            <p>{{ .Error }}</p>
        </div>
    {{ end }}

    {{ if .Success }}
        <div class="alert alert-success" role="alert">
            <p>{{ .Success }}</p>
        </div>
    {{ end }}
</section>

<section class="site-info-s1">
    <form>
        <div class="form-group">
            <select name="server" id="server">
                <option value="isak_tech">Isak Tech</option>
                <option value="portal">Portal</option>
                <option value="paste">Paste</option>
            </select>
            <button type="button" onclick="startSite()">Start Process</button>
        </div>
    </form>
</section>

<section id="processes">
    <div class="ph-item">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="ph-item">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="ph-item">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="ph-item">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>