@import "variables";
.alert-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 3em 3em 0;
    min-width: 300px;
    text-align: center;
    z-index: 5;
    .alert-error,
    .alert-success {
        height: 100%;
        width: 100%;
        padding: 1em 2em 1em 2em;
        font-weight: 400;
        text-transform: capitalize;
        transition: all 200ms linear;
        position: relative;

        i.fas.fa-times {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            cursor: pointer;
        }

        p {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }

    .alert-error {
        background-color: rgb(182, 65, 65);
        color: $color3;
    }

    .alert-success {
        background-color: $color2;
        color: $color3;
    }
}