.alert-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 3em 3em 0;
    min-width: 300px;
    text-align: center;

    .alert-error,
    .alert-success {
        height: 100%;
        width: 100%;
        padding: 1em;
        font-weight: 400;
        text-transform: capitalize;
        transition: all 200ms linear;
        
        p {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &:hover {
            opacity: 50%;
            cursor: pointer;
        }
    }

    .alert-error {
        background-color: rgb(182, 65, 65);
        color: #fff;
    }

    .alert-success {
        background-color: #4E937A;
        color: #fff;
    }
}