form {
    width: 100%;
    margin-top: 2em;
    background-color: #333;
    padding: 2em;
    border-radius: 25px;

    h1 {
        color: #fff;
        font-size: 48px;
    }

    h3 {
        color: #fff;
    }
    
    a {
        color: #4E937A;
    }

    .hidden {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        line-height: 0;
    }

    .form-group, .button-group {
        margin: 10px 0;
    }

    .form-group.row {
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
        
        label {
            margin: 0 0 0 10px;
        }
    }

    .form-group.focused {

    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin: 3em 0;
        position: relative;
        border-radius: 10px;
        background-color: #333;

        p {
            margin: 0;
            font-size: 12px;
            margin-top: 8px;
        }

        label {
            display: flex;
            justify-content: space-between;
            color: #ffffff;
            transition: all 200ms linear;
            margin-bottom: 8px;
        }

        #archived {
            margin-left: 12px;
        }

        input, select, textarea {
            padding: .68em;
            font-size: 17px;
            border: none;
            outline: none;
            border-radius: 10px;
            border: 4px solid transparent;
            color: #333;
            transition: all 200ms linear;
            
            &::placeholder {
                display: none;
            }

            &:disabled {
                background-color: rgb(189, 189, 189);
            }

            &:focus {
                border-color: #4E937A;
            }
        }

        textarea {
            min-height: 400px;
        }

        span {
            color: #fff;
            display: block;
            margin-top: 8px;
        }
    }

    .button-group {
        display: flex;
        justify-content: space-between;

        button {
            border-radius: 10px;
            padding: .8em;
        }
    }
}