form.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dropzone.highlight {
        background-color: rgb(70, 70, 70);
    }

    .dropzone {
        width: 100%;
        height: 200px;
        border: 2px dashed #4E937A;
        color: #4E937A;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        transition: all 200ms linear;
    }    

    input {
        color: #fff;
        width: 100%;
    }
}

form {
    width: 100%;
    margin-top: 2em;
    background-color: #333;
    padding: 2em;

    h1 {
        color: #fff;
        font-size: 48px;
    }

    h3 {
        color: #fff;
    }
    
    a {
        color: #4E937A;
    }

    .hidden {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        line-height: 0;
    }

    .form-group, .button-group {
        margin: 10px 0;
    }

    .form-group.row {
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
        
        label {
            margin: 0 0 0 10px;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin: 1.6em 0;
        position: relative;
        background-color: #333;

        p {
            margin: 0;
            font-size: 12px;
            margin-top: 8px;
        }

        label {
            display: flex;
            justify-content: space-between;
            color: #ffffff;
            transition: all 200ms linear;
            margin-bottom: 8px;
        }
        
        #archived {
            margin: 0;

            &::-ms-check {
                color: green;
            }
        }

        input, select, textarea {
            padding: .58em;
            font-size: 15px;
            border: none;
            outline: none;
            border: 4px solid transparent;
            color: #333;
            transition: all 200ms linear;

            &::placeholder {
                display: none;
            }

            &:disabled {
                background-color: rgb(189, 189, 189);
            }

            &:focus {
                border-color: #4E937A;
            }
        }

        textarea {
            min-height: 400px;
        }

        span {
            color: #fff;
            display: block;
            margin-top: 8px;
        }
    }

    .button-group {
        display: flex;
        justify-content: space-between;

        button {
            padding: .8em;
        }
    }
}

