@import "variables";

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    color: $color2;
    background-color: $color3;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $color1;
    }
    
    &::-webkit-scrollbar {
        width: 12px;
        background-color: $scrollbar;
    }
    
    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $color2;
    }
}


main {
    width: 100%;

    .content {
        width: 100%;
        margin: 0 0 0 auto;
        background-color: $color3;
        transition: width 325ms linear;
        overflow-x: hidden;
        padding: 3em;

    }

    .content.open {
        width: calc(100% - 300px);
    }
}


.btn {
    padding: .6em;
    min-width: 120px;
    border: none;
    cursor: pointer;
    color: $color3;
}

section.body {
    height: 100%;
    overflow-x: hidden;
}

.btn-success {
    background-color: $color2;

    &:hover {
        background-color: #5baa8d;
        color: $color3;
    }
}

.btn-danger {
    background-color: $error;

    &:hover {
        background-color: #aa2927;
        color: $color3;
    }
}

.btn-primary {
    background-color: $color2;

    &:hover {
        background-color: $success;  
        color: $color3;    
    }
}


section {

    .list {
        background-color: $color1;
        margin-top: 1em;
        padding: 2em;

        .details {
            display: flex;
            border-bottom: 1px solid rgb(65, 65, 65);
            color: $color2;

            p {  
                
                i {
                    margin-right: 10px;
                }

                span {
                    color: $color3;
                }
            }
        }

        details {
            padding: 1em 0;

            .body {
                form {
                    padding: 0;
                    margin: 0;
                }

                p {
                    margin: 0;
                    color: $color3;
                }
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(65, 65, 65);
            }
            
            summary {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                outline: none;
                cursor: pointer;

                &::marker {
                    display: none;
                }

                p {
                    margin: 0;
                    color: $color2;
                    transition: all 200ms linear;
                    
                    span {
                        color: $color3;
                    }
                    
                    i {
                        margin-right: 10px;
                    }

                    &:hover {
                        color: #72aa95;     
                    }
                }

                .far.fa-edit {
                    color: $color3;
                    transition: all 200ms linear;

                    &:hover {
                        color: rgb(173, 173, 173);
                    }
                }
            }
        }
    }

    h4 {
        margin: 5px 0;
        font-size: 2.1rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-template-rows: auto;

        .grid-item {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            
            h5 {
                font-size: 32px;
                color: gray;
                padding: 1rem 0 0 1rem;
                margin: 0;
            }

            div {
                padding: 1em;

                a {
                    display: inline-block;
                    color: #043565;
                    text-decoration: none;

                    &:first-of-type {
                        margin-right: 10px;
                    }

                    &:hover {
                        color: #0b4075;
                        
                    }
                }
            }
        }
    }
}

.site-info-s1 {
    form {
        .form-group {
            flex-direction: row;
            gap: 10px;
            margin: 0;

            select {
                flex-grow: 1;
            }


        }
    }
}

#processes, .pastes, .analytics {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    .process {
        background-color: $color1;
        color: $color2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 400px;

        .process-body {
            padding: 1em;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            p {
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            a {
                color: $color3;
                text-decoration: none;
    
                &:hover {
                    color: lightgray;
                }
            }
        }

        .process-footer {
            display: flex;
            justify-content: space-between;

            a {
                padding: .6em;
                color: $color3;
                width: 100%;
                text-align: center;
                border-top: 1px solid $color3;
                text-decoration: none;
                text-transform: uppercase;
                
                &:hover {
                    background-color: rgb(63, 63, 63);
                }

                &:first-of-type {
                    border-right: 1px solid $color3;
                }
            }
        }
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    
    img {
        max-height: 400px;
        flex-grow: 1;
        position: relative;
        cursor: pointer;

        &:hover {
            opacity: .5;
            background-color: #931F1D;
        }
    }
}

#api-container {
    background-color: $color1;
    margin-top: 2em;

    .api-route {
        display: flex;
        flex-direction: column;
        padding: 2em;
        color: $color3;
        
        &:not(:last-of-type) {
            border-bottom: 1px solid rgb(61, 61, 61);
        }
        
        div {
            display: flex;
            justify-content: space-between;
            color: $color2;
            font-size: 1.2rem;
        }

        pre {
            white-space: pre-wrap;
        }
    }
}