@media only screen and(max-width: 1750px) and (min-width: 1400px) {
    main {

    }
}

@media only screen and(max-width: 1400px) and (min-width: 875px) {
    main {

    }

    section {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and(max-width: 875px) {
    main {
        .content, .content.open  {
            width: 100%;
        }
    }

    section {
        .grid {
            grid-template-columns: 1fr;
        }
    }
}