#navbar-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    transition: margin-left 325ms linear;
    font-size: 22px;
    color: #4E937A;
    cursor: pointer;
    z-index: 2;
    background-color: #333;
    padding: 10px;
    
    &:hover {
        color: #3d7561;
    }
}

#navbar-btn.open {
    margin-left: 300px;
    transform: rotate(180deg);
}

#sidenav.open {
    width: 300px;
    border-right: 1px solid #424242;
}

#sidenav {
    background-color: #333;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: width 325ms linear;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    
    .logo {
        background-color: #333333;
        height: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        border-bottom: 1px solid #424242;
        img {
            object-fit: contain;
            height: 100%;
            display: block;
            width: 280px;
        }    
    }

    div {
        border-bottom: 1px solid rgb(66, 66, 66);
        width: 300px;
        padding: .63em 0;

        h4 {
            text-transform: uppercase;
            color: #4E937A;
            font-size: 20px;
            padding: .5em;
            margin: 0;
        }

        a.active-link {
            button {
                background-color: rgb(73, 73, 73);
            }
        }


        a {
            color: #fff;
            text-decoration: none;            
            display: block;
            border: 1px solid transparent;
            cursor: pointer;

            &:active {
                color: #4E937A;
                // border: 1px solid #F2A359;
            }
    
            button {
                width: 100%;
                height: 100%;
                padding: .5em 1em;
                border: none;
                background-color: rgba(51, 51, 51, 0);
                text-align: left;
                color: inherit;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                
                &:hover {
                    background-color: rgb(73, 73, 73);
                }
            }
        }
    }
}