* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 1em 2em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid lightgray;
    
    a {
        text-decoration: none;
        color: rgb(54, 54, 54);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        
        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

main {
    padding: 2em;
}

form {
    width: 400px;
    .form-group {
        margin: 10px 0;
        width: 100%;

        input {
            display: block;
            padding: 8px;
            width: 100%;
        
        }
    }

    .button-group {
        margin: 10px 0;

        button {
            padding: 8px;
            min-width: 140px;
            margin: 0 0 0 auto;
            display: block;
        }
    }
}