* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
}

main {
  width: 100%;
}
main .content {
  width: 100%;
  margin: 0 0 0 auto;
  background-color: #fff;
  transition: width 325ms linear;
  overflow-x: hidden;
  padding: 3em;
}
main .content.open {
  width: calc(100% - 300px);
}

.btn {
  padding: 0.6em;
  min-width: 120px;
  border: none;
  cursor: pointer;
  color: #fff;
}

section.body {
  height: 100%;
  overflow-x: hidden;
}

.btn-success {
  background-color: #4E937A;
}
.btn-success:hover {
  background-color: #5baa8d;
  color: #fff;
}

.btn-danger {
  background-color: #931F1D;
}
.btn-danger:hover {
  background-color: #aa2927;
  color: #fff;
}

.btn-primary {
  background-color: #4E937A;
}
.btn-primary:hover {
  background-color: #5baa8d;
  color: #fff;
}

section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
section header h4 {
  margin: 0;
}
section header a {
  text-decoration: none;
  background-color: #23967F;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
}
section header a:hover {
  background-color: #2da78e;
}
section .list p {
  padding: 1em;
  border-bottom: 1px solid lightgray;
  margin: 0;
  background-color: #fff;
}
section .list p:hover {
  background-color: #f0f0f0;
}
section .list p i {
  display: inline-block;
  margin-right: 8px;
  color: #4E937A;
}
section h4 {
  margin: 5px 0;
  font-size: 2.1rem;
}
section .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: auto;
}
section .grid .grid-item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
section .grid .grid-item h5 {
  font-size: 32px;
  color: gray;
  padding: 1rem 0 0 1rem;
  margin: 0;
}
section .grid .grid-item div {
  padding: 1em;
}
section .grid .grid-item div a {
  display: inline-block;
  color: #043565;
  text-decoration: none;
}
section .grid .grid-item div a:first-of-type {
  margin-right: 10px;
}
section .grid .grid-item div a:hover {
  color: #0b4075;
}

.site-info-s1 form .form-group {
  flex-direction: row;
  gap: 10px;
  margin: 0;
}
.site-info-s1 form .form-group select {
  flex-grow: 1;
}
.site-info-s1 form .form-group button {
  min-width: 140px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.site-info-s1 form .form-group button:hover {
  background-color: #383838;
}

#processes {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}
#processes .process {
  background-color: #333;
  color: #4E937A;
  display: block;
  min-width: 400px;
  border-radius: 6px;
}
#processes .process .process-body {
  padding: 1em;
}
#processes .process .process-body p {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#processes .process .process-body a {
  color: #fff;
  text-decoration: none;
}
#processes .process .process-body a:hover {
  color: lightgray;
}
#processes .process .process-footer {
  display: flex;
  justify-content: space-between;
}
#processes .process .process-footer a {
  padding: 0.6em;
  color: #fff;
  width: 100%;
  text-align: center;
  border-top: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
}
#processes .process .process-footer a:hover {
  background-color: #3f3f3f;
}
#processes .process .process-footer a:first-of-type {
  border-right: 1px solid #fff;
  border-bottom-left-radius: 6px;
}
#processes .process .process-footer a:last-of-type {
  border-bottom-right-radius: 6px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em 2em 2em;
}
.gallery img {
  max-height: 400px;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
}
.gallery img:hover {
  opacity: 0.5;
  background-color: #931F1D;
}

/*# sourceMappingURL=styles.css.map */
