* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;

    .content {
        padding: 2em;
        background-color: #fff;
    }
}

img {
    max-width: 100%;
    max-height: 300px;
}

#navbar-btn {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    transition: all 325ms linear;
    cursor: pointer;

    &:hover {
        color: rgb(77, 77, 77);
    }
}

#navbar-btn.open {
    left: 300px;
}

#sidenav.open {
    width: 300px;
}

#sidenav {
    background-color: #043565;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: all 325ms linear;
    div {
        width: 300px;
        margin-top: 3em;
        a {
            display: block;
            color: #f0f0f0;
            text-decoration: none;
            text-align: center;
            padding: 8px 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.page-header {
    border: 1px solid lightgray;
    padding: 2em;

    h1 {
        font-size: 4.5rem;
        margin: 0;
        color: rgb(77, 77, 77);
        font-weight: lighter;
    }

    nav {
        a {
            text-decoration: none;
            color: rgb(77, 77, 77);
            &:not(:last-of-type) {
                color: #FF934F;
                &::after {
                    content: '>';
                    margin: 0 10px;
                    font-size: 14px;
                    color: rgb(77, 77, 77);
                }
            }
        }
    }
}


section {
    .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}

.accordion {
    .accordion-item {
        display: block;
        margin: 20px 0;
        border: 1px solid lightgray;
        padding: 1em;
        .accordion-body {
            overflow: hidden;
            max-height: 0;
        }
    }

    .accordion-item.open {
        .accordion-body {
            max-height: 800px;
        }
    }
}


form {
    
    .hidden {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        line-height: 0;
    }

    .form-group, .button-group {
        margin: 10px 0;
    }

    .form-group.row {
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
        
        label {
            margin: 0 0 0 10px;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
            font-size: 12px;
            margin-top: 8px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, select, textarea {
            padding: .4em;
            font-size: 17px;
        }

        textarea {
            min-height: 400px;
        }
    }
}